<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DBType" value="SQL"/>
    <add key="SubTitle" value="后台管理框架"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <connectionStrings>
    <!--<add name="SQL" connectionString="provider=sqloledb;data source=180.178.53.82,1433;User ID=a0314161919;pwd=21009682;Initial Catalog=a0314161919"/>-->
    <!--<add name="SQL" connectionString="Data Source=180.178.53.82;Initial Catalog=a0314161919;Persist Security Info=True;User ID=a0314161919;Password=21009682"/>-->
    <!--<add name="MySql" connectionString="Database=a0314161919;Data Source=180.178.53.82;User Id=a0314161919;Password=21009682"/>-->
    <add name="MySql" connectionString="server=180.178.53.82;user id=a0314161919; password=21009682; database=a0314161919; pooling=true;min pool size=4;max pool size=400;"/>
    <!--<add name="SQL" connectionString="Data Source=qds154698337.my3w.com;Initial Catalog=qds154698337_db;Persist Security Info=True;User ID=qds154698337;Password=zhangjian"/>-->
    <!-- 网络管理数据库 网址https://dms-net.aliyun.com/logout.do?token=05802a42-c20f-406f-837e-976509b5e2a5 ；qds115938189.my3w.com:1433 -->
    <add name="SQL" connectionString="server=sqloledb;data source= qds115938189.my3w.com;User ID=qds115938189;pwd=zhangjian;Initial Catalog=qds115938189_db"/>
    <!--<add name="SQL" connectionString="server=sqloledb;data source=qds114576622.my3w.com;User ID=qds114576622;pwd=zhangjian;Initial Catalog=qds114576622_db" />-->
    <add name="SQL1" connectionString="server=sqloledb;data source=qds223749622.my3w.com;User ID=qds223749622;pwd=zhangjian;Initial Catalog=qds223749622_db"/>
    <add name="SQL2" connectionString="server=sqloledb;data source=.;User ID=sa;pwd=zhangjian;Initial Catalog=qds223749622_db"/>
    <!--<add name="MySql" connectionString="Database=db;Data Source=127.0.0.1;User Id=root;Password=sa"/>-->
    <!--<add name="SQL" connectionString="Data Source=.;Initial Catalog=Hotels_Flights;Persist Security Info=True;User ID=sa;Password=sa"/>-->
    <!--<add name="SQL" connectionString="Data Source=.;Initial Catalog=Hotels_Flights;Integrated Security=True"/>-->
    <add name="Access" connectionString="Data Source=.;Initial Catalog=test;Integrated Security=True"/>
    <add name="Access1" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=" providerName="System.Data.OleDb"/>
    <add name="dbPath" connectionString="/db/db.mdb"/>
    <add name="dbWeb" connectionString="true"/>
    <add name="dbPathWeb" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=180.178.53.82/db/db.mdb;Persist Security Info=False"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
