<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DBType" value="SQL" />
    <add key="SubTitle" value="后台管理框架" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--<add key="Style" value="\\skin\\Carlmness\\CalmnessColor1.ssk"  />-->
    <add key="Style" value="\\skin\\MP10\\MP10.ssk"  />
  </appSettings>
  <connectionStrings>
    <add name="MySql" connectionString="server=180.178.53.82;user id=a0314161919; password=21009682; database=a0314161919; pooling=true;min pool size=4;max pool size=400;" />
    
    
    
    <add name="SQL" connectionString="server=sqloledb;data source=qds115938189.my3w.com;User ID=qds115938189;pwd=zhangjian;Initial Catalog=qds115938189_db" />
    
    
    <add name="Access" connectionString="Data Source=.;Initial Catalog=test;Integrated Security=True" />
    <add name="Access1" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=" providerName="System.Data.OleDb" />
    <add name="dbPath" connectionString="/db/db.mdb" />
    <add name="dbWeb" connectionString="true" />
    <add name="dbPathWeb" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=180.178.53.82/db/db.mdb;Persist Security Info=False" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>